.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
  
}

.section__text
{
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: var(--clr-fg-primary);
}
